---
layout: default
---

<div class="relative bg-white overflow-hidden">
  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
          
    <!-- contains main (title +hero image) navbar and subtitle stacked under each other  -->
    <div id="hero-container" class="border border-green-900 flex flex-col justify-center mt-10 mx-auto max-w-screen-xl px-4 sm:mt-10 sm:px-6 md:mt-10 lg:mt-10 xl:mt-10">

      <!-- (pre-title + title) and hero image centered vertically -->
      <div class="flex items-center justify-center pb-16">

        <!-- hero image -->
        <!-- flex items-center justify-between w-full md:w-auto -->
        <div class="flex hero flex-wrap">
          <img class="sm:mx-auto md:p-4 lg:p-2 xl:p-0 border border-pink-900" src="./images/logo.png" alt="Logo">
          <div class="flex-col items-center self-center sm:mx-auto md:p-4 lg:p-2 xl:p-0 border border-green-900 border-4 border-dashed">
            <span class="block sm:text-2xl md:text-4xl lg:text-7xl xl:text-8xl font-hero border border-red-600">
              <span class="base-dark">Canny</span><span class="deep-pink">Code</span>
            </span>
            <span class="block base-gray sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-tagline border border-blue-400">> for Curious Creators <span id="cursor-blinking">_</span></span>
          </div>
        </div>
      </div>

      <div class="flex text-xl">
        <p class="m-auto max-w-5xl p-10 "> Aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
      </div>

      {% render "navbar", metadata: site.metadata, page: page %}
    </div>

    <main class="flex justify-center flex-grow mt-8 mx-auto max-w-screen-lg px-4 sm:mt-8 sm:px-6 md:mt-8 lg:mt-8 xl:mt-8">
      <div id="articles-container" class="flex flex-col justify-start w-full">
        <h3 class="border-t-4 border-solid border-black text-2xl pt-1">Latest articles</h3>
        <div class="block flex flex-col m-8">

          <a href="#" class="mt-16">
            <div id="article-card" class="flex flex-col cursor-pointer w-full flex-wrap shadow-cg p-8 rounded-lg hover:shadow-cp transition-shadow duration-200">
              <div id="article-header" class="flex flex-col justify-between mb-4 w-full">
                <div id="article-title" class="flex justify-between">
                  <h3 class="text-3xl text-gray-900 mb-3 max-w-3xl inline-block p-0 font-bold">Introduction Visual Studio Code, Portable, Live Server et SFTP</h3>
                </div>
                <p id="article-summary" class="text-grey-600">
                  Qu’est-ce que Babel ?Babel (prononcé “babble”) est un transpiler qui vous permet de profiter de nouvelles syntaxes et fonctionnalités de JavaScript en avance tout en supportant d’anciennes versions de navigateurs.Anciennement nommé “6to5” comprendre par là que l’outil permettait…
                </p>
              </div>
              <div id="article-footer" class="flex mt-3 justify-between">
                <p id="pill" class="border-none py-2 pr-10 pl-3 text-base font-bold relative">
                  <span class="text-pink-700 pl-12">Read article</span>
                </p>
                <div>
                  <div>
                    <!-- <div class="show-on-tablet-and-smaller">
                      <small></small>
                      <span>1238 words</span>
                    </div> -->
                    <span class="ml-3 bg-white border border-gray-300 border-solid inline-block py-2 px-4 rounded-pill mr-3 text-base text-gray-500">
                      ~8 minute read
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="" class="mt-16">
            <div id="article-card" class="flex flex-col cursor-pointer w-full flex-wrap shadow-cg p-8 rounded-lg hover:shadow-cp transition-shadow duration-200">
              <div id="article-header" class="flex flex-col justify-between mb-4 w-full">
                <div id="article-title" class="flex justify-between">
                  <h3 class="text-3xl text-gray-900 mb-3 max-w-3xl inline-block p-0 font-bold">Introduction Visual Studio Code, Portable, Live Server et SFTP</h3>
                </div>
                <p id="article-summary" class="text-grey-600">
                  Qu’est-ce que Babel ?Babel (prononcé “babble”) est un transpiler qui vous permet de profiter de nouvelles syntaxes et fonctionnalités de JavaScript en avance tout en supportant d’anciennes versions de navigateurs.Anciennement nommé “6to5” comprendre par là que l’outil permettait…
                </p>
              </div>
              <div id="article-footer" class="flex mt-3 justify-between">
                <p id="pill" class="border-none py-2 pr-10 pl-3 text-base font-bold relative">
                  <span class="text-pink-700 pl-12">Read article</span>
                </p>
                <div>
                  <div>
                    <!-- <div class="show-on-tablet-and-smaller">
                      <small></small>
                      <span>1238 words</span>
                    </div> -->
                    <span class="ml-3 bg-white border border-gray-300 border-solid inline-block py-2 px-4 rounded-pill mr-3 text-base text-gray-500">
                      ~8 minute read
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="#" class="mt-16">
            <div id="article-card" class="flex flex-col cursor-pointer w-full flex-wrap shadow-cg p-8 rounded-lg hover:shadow-cp transition-shadow duration-200">
              <div id="article-header" class="flex flex-col justify-between mb-4 w-full">
                <div id="article-title" class="flex justify-between">
                  <h3 class="text-3xl text-gray-900 mb-3 max-w-3xl inline-block p-0 font-bold">Introduction Visual Studio Code, Portable, Live Server et SFTP</h3>
                </div>
                <p id="article-summary" class="text-grey-600">
                  Qu’est-ce que Babel ?Babel (prononcé “babble”) est un transpiler qui vous permet de profiter de nouvelles syntaxes et fonctionnalités de JavaScript en avance tout en supportant d’anciennes versions de navigateurs.Anciennement nommé “6to5” comprendre par là que l’outil permettait…
                </p>
              </div>
              <div id="article-footer" class="flex mt-3 justify-between">
                <p id="pill" class="border-none py-2 pr-10 pl-3 text-base font-bold relative">
                  <span class="text-pink-700 pl-12">Read article</span>
                </p>
                <div>
                  <div>
                    <!-- <div class="show-on-tablet-and-smaller">
                      <small></small>
                      <span>1238 words</span>
                    </div> -->
                    <span class="ml-3 bg-white border border-gray-300 border-solid inline-block py-2 px-4 rounded-pill mr-3 text-base text-gray-500">
                      ~8 minute read
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="" class="mt-16">
            <div id="article-card" class="flex flex-col cursor-pointer w-full flex-wrap shadow-cg p-8 rounded-lg hover:shadow-cp transition-shadow duration-200">
              <div id="article-header" class="flex flex-col justify-between mb-4 w-full">
                <div id="article-title" class="flex justify-between">
                  <h3 class="text-3xl text-gray-900 mb-3 max-w-3xl inline-block p-0 font-bold">Introduction Visual Studio Code, Portable, Live Server et SFTP</h3>
                </div>
                <p id="article-summary" class="text-grey-600">
                  Qu’est-ce que Babel ?Babel (prononcé “babble”) est un transpiler qui vous permet de profiter de nouvelles syntaxes et fonctionnalités de JavaScript en avance tout en supportant d’anciennes versions de navigateurs.Anciennement nommé “6to5” comprendre par là que l’outil permettait…
                </p>
              </div>
              <div id="article-footer" class="flex mt-3 justify-between">
                <p id="pill" class="border-none py-2 pr-10 pl-3 text-base font-bold relative">
                  <span class="text-pink-700 pl-12">Read article</span>
                </p>
                <div>
                  <div>
                    <!-- <div class="show-on-tablet-and-smaller">
                      <small></small>
                      <span>1238 words</span>
                    </div> -->
                    <span class="ml-3 bg-white border border-gray-300 border-solid inline-block py-2 px-4 rounded-pill mr-3 text-base text-gray-500">
                      ~8 minute read
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>


        </div>
      </div>

    </main>

  </div>
</div>


<!--
{{ content }} -->

<!-- graveyard -->
                 <!-- pre-title and title piece combos' holder -->
                 <!-- <div class="flex flex-col"> -->
                    <!-- pre-title and title combo -->
                    <!-- <div class="flex">
                      <div class="w-16"></div>
                      <div>
                        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                          Canny
                        </h2>
                      </div>
                    </div>

                    <div class="flex items-end">
                      <div class="w-16 text-gray-300 align-middle text-4xl tracking-tight leading-10 font-light sm:text-5xl sm:leading-none md:text-6xl">
                        >
                      </div>
                      <div>
                        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                          Code<span class="font-light" id="cursor-blinking">_</span>
                        </h2>
                      </div>
                    </div>

                    <div class="flex items-end">
                      <div class="w-16 font-bold text-gray-300 align-middle text-4xl tracking-tight leading-10 font-light sm:text-5xl sm:leading-none md:text-5xl">
                        for&nbsp;
                      </div>
                      <div>
                        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                          Curious
                        </h2>
                      </div>
                    </div>

                    <div class="flex">
                      <div class="w-16"></div>
                      <div>
                        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                          Creators
                        </h2>
                      </div>
                    </div>
                </div> -->